{% extends "base.html" %}
{% block title %}更改密碼 · 海康事件{% endblock %}
{% block content %}
{% if flash %}<p class="flash{% if flash_bad %} bad{% endif %}">{{ flash }}</p>{% endif %}
<form class="card left" method="post" action="/password">
  <h1>更改密碼</h1>
  <p>新密碼至少 6 個字元，不必包含符號或大小寫。</p>
  <input type="hidden" name="csrf" value="{{ csrf }}">
  <label for="current">現有密碼</label>
  <input id="current" name="current" type="password" required maxlength="128" autocomplete="current-password">
  <label for="new">新密碼</label>
  <input id="new" name="new" type="password" required minlength="6" maxlength="128" autocomplete="new-password">
  <label for="again">再輸入一次</label>
  <input id="again" name="again" type="password" required minlength="6" maxlength="128" autocomplete="new-password">
  <button type="submit">儲存新密碼</button>
</form>
{% endblock %}
